{% extends 'base.html' %}

{% block title %}

    <title>添加出版社</title>

{% endblock title %}

{% block content %}
    <h3>添加出版社</h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">出版社名称</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">邮箱地址</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱地址" required>
        </div>
        <div class="form-group">
            <label for="">地址</label>
            <input type="text" name="addr" class="form-control" required>
        </div>

        <input type="submit" class="btn btn-success pull-right" value="添加">
    </form>

{% endblock content %}

