{% extends 'base.html' %}

{% block title %}

    <title>管理书籍</title>

{% endblock title %}

{% block content %}

    <h3>管理书籍</h3>
    <table class="table table-hover table-striped ">
        <thead>
        <tr>
            <th>编号</th>
            <th>书籍名称</th>
            <th>价格</th>
            <th>出版日期</th>
            <th>出版社</th>
            <th>作者</th>
            <th>删除</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        {% for book in book_list %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.pub_date|date:"Y-m-d" }}</td>
                <td>{{ book.publish.name }}</td>
                <td>
                    {#判断作者是否为空#}
                    {% if not book.authors.all %}
                        无
                    {% else %}
                        {#遍历所有书籍相关的作者#}
                        {% for j in book.authors.all %}
                            {#使用forloop.last判断，如果如果是最后一个，不增加逗号#}
                            {{ j.name }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {#由于表关系是通过id关联的，所以参数必须是id#}
                    {#                    <a href="/books/delete_book/{{ book.id }}">#}
                    {#                        <button type="button" class="btn btn-danger" data-toggle="modal" id="modelBtn">删除</button>#}
                    {#                    </a>#}
                    <button type="button" class="btn btn-danger" data-toggle="modal" pk="{{ book.id }}">删除</button>
                </td>
                <td>
                    <a href="/books/modify_book/{{ book.id }}">
                        <button type="button" class="btn btn-success" data-toggle="modal">编辑</button>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <script>
    {#同时选择btn和btn-danger2个class#}
        $(".btn.btn-danger").click(function () {
            var pk = $(this).attr("pk");
            var _this = $(this);
            var csrf = $("[name=csrfmiddlewaretoken]").val();
            swal({
                    title: "确定删除吗？",
                    text: "你将无法恢复该记录！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定删除！",
                    cancelButtonText: "取消删除！",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) { //判断选择确认删除时

                        $.ajax({
                            url: "/books/delete_book/" + pk,
                            type: "post",
                            data: {
                                csrfmiddlewaretoken: csrf,
                            },
                            success: function (data) {
                                var data = JSON.parse(data);  //反序列化书局
                                if (data.state) { //判断json的状态
                                    swal("删除！", "书籍记录已经被删除。",
                                        "success");
                                    _this.parent().parent().remove();  //移除tr标签
                                } else {
                                    swal("删除！", "删除失败，请重试!)",
                                        "error");
                                    window.location=data.url;
                                }
                            }

                        });
                    } else {
                        swal("取消！", "书籍记录是安全的:)",
                            "error");
                    }
                });
        })
    </script>

{% endblock content %}

